<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Editor Collab</title>
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  </head>
  <body>
    <pre>
      <h2><%= editor.fileName %></h2>
      <code class="<%= editor.lang %>">
        <% if (editor.text) { %>
          <%= editor.text %>
        <% } %>
      </code>
    </pre>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
      var socket = io();
      socket.on('editMade', (newText) => {
        let $code = $('code');
        $code.text(newText);
        hljs.highlightBlock(document.querySelector('code'));
      });
    </script>
  </body>
</html>